<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
   
</head>


<body ng-app="app">
    <nav>
        <ul>
            <li><a href="#/">Datos personales</a></li>
            <li><a href="#/descargas">Descargas</a></li>
            <li><a href="#/opciones">Opciones de cuenta</a></li>
        </ul>
    </nav>
    <hr />

    <div ng-view></div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.6/angular-route.min.js"></script>
    <script src="../../app.js"></script>
</body>



</html>